services:
  backend:
    build: ./backend
    container_name: backend-node
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: flutter-app
    ports:
      - "5000:5000"
    depends_on:
      - backend
    networks:
      - app-network

  workout-agent:
    build: ./workout_builder_agent
    container_name: workout-agent
    ports:
      - "8000:8000"
    volumes:
      - ./workout_builder_agent:/app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
