services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-node
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: flutter-app
    ports:
      - "5000:5000"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  workout-agent:
    build:
      context: ./workout_builder_agent
      dockerfile: Dockerfile
    container_name: workout-agent
    ports:
      - "8000:8000"
    environment:
        - API_KEY=secret-key
        - PYTHON_SERVICE_PORT=8000
        - PYTHON_SERVICE_HOST=0.0.0.0
        - HOST=http://host.docker.internal
    volumes:
      - ./workout_builder_agent:/app
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
